:root{
  --dark: #22223b;
  --white: #edf2fb;
  --open: "Open Sans", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--open);
}

body{
  /*background: var(--dark);*/
  background: url(/images/galaxia.jpg);
  font-family: var(--open);
}

button {
  border: 2px solid;
  border-radius: 7px;
  padding: 6px 12px;
  width: 100%;
  margin: 2% 0;
}

button:hover {
  box-shadow: 4px 2px #888888;
  color: crimson;
}

.card--form__subtitle {
  font-size: 20px;
  color: brown;
  font-weight: 300;
}

.card--form__result {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid #312f2f;
  border-radius: 7px;
}
.card--form__result p {
  font-size: large;
  text-align: center;
}

header{
  width: 100%;
}

h1 {
  color: var(--white);
  font-size: 3.5rem;
  letter-spacing: 5px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 80px;
  text-align: center;
}



.container{
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.figures{
  display: grid;
  gap: 32px;
  grid-template-columns: 1, 1fr;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
  margin-block-end: 100px;
  padding: 0 20px;
}

.figures-item{
  align-items: center;
  display: inline-grid;
  background-color: var(--white);
  border: 8px solid #c1d3fe;
  box-shadow: -8px 8px 0 0 #abc4ff;
  justify-items: center;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.figures-item h2{
  font-size: 3rem;
}

.figures-item img{
  margin-bottom: 30px;
  width: 100px;
}

.figures-item form{
  align-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.figures-item form label{
  align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.figures-item form input{
  padding: 4px 10px;
  font-size: 1.4rem;
}

.figures-item form button{
  background-color: #c1d3fe;
  border: 2px solid #abc4ff;
  font-size: 1.6rem;
  padding: 5px 30px;
}

@media screen and (min-width: 660px){
  h1{
    font-size: 5rem; 
  }
  
  .figures{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;
  }
}